@model Games
<div id="games2">
    <img src="~/images/Games/@Model.gameImg" width="200" height="300" />
    <h1>Title:@Model.gameName</h1>
    <div class="gameDiv">
        <label>@Model.gameDescription</label>
    </div>
</div>
