@model List<Games>

<link href="~/css/contact.css" rel="stylesheet" />
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

@{
    foreach (var game in Model)
    {
<div class="container-games">

    <div id="games">
        <a href="#">
            <img src="~/images/Games/@game.gameImg" width="200" height="300" />
        </a>
        
        <label> @game.gameName</label>
        <label> @game.gameDescription</label>
        <label> €@game.gamePrice</label>
    </div> 
</div>
    }
}