@model List<Games>

<link href="~/css/contact.css" rel="stylesheet" />
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

@{
    foreach (var game in Model)
    {
        <div class="container-games">

            <div id="games">
                <form asp-action="GameView" method="get">
                    <input name="id" value="@game.gameId" hidden />
                    <button type="submit">
                        <img src="~/images/Games/@game.gameImg" width="200" height="300" />
                    </button>
                </form>
                <label> @game.gameName </label> <br />
                <label> €@game.gamePrice</label>
                <form asp-action="AddToCart" method="post">
                    <input name="id" value="@game.gameId" hidden />
                    <input name="platformId" value="@game.platformId" hidden/>
                    <button type="submit" class="hvr-rectangle-out">Add to cart</button>
                </form>
            </div>        
        </div>
    }
}