@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>GameShopDemirci!</h1>
    <p>...</p>
    <p>  <button class="btn btn-default" type="submit">Login</button>
</div>
<div class="row">
    <div class="col-md-3 nice">
        <h2><img src="~/images/PlatForms/pc.png" width="175" height="175" id="image" /></h2>
        <div class="overlay" id="pc">
            <div> <a asp-area="" asp-controller="Game" asp-action="PcView" class="hvr-rectangle-out">PC</a></div>
        </div>
    </div>
    <div class="col-md-3 nice">
        <h2><img src="~/images/PlatForms/ps4.png" width="175" height="175" id="image1" /></h2>
        <div class="overlay" id="ps4">
            <div> <a asp-area="" asp-controller="Game" asp-action="Ps4View" class="hvr-rectangle-out">PS4</a></div>
        </div>
        @*  <img src="~/images/banner1.svg" alt="Mountain View">*@
    </div>
    <div class="col-md-3 nice" id="xbox">
        <h2><img src="~/images/PlatForms/xbox.png" width="175" height="175" id="image2" /></h2>
        <div class="overlay">
            <div> <a asp-area="" asp-controller="Game" asp-action="XboxView" class="hvr-rectangle-out">XBOX</a></div>
        </div>
    </div>
    <div class="col-md-3 nice" id="nintendo">
        <h2><img src="~/images/PlatForms/nintendoSwitch.png" width="175" id="175" class="image3" /></h2>
        <div class="overlay">
            <div> <a asp-area="" asp-controller="Game" asp-action="NintendoView" class="hvr-rectangle-out">Switch</a></div>
        </div>
    </div>
</div>
